body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #FFFFFF, #D6ECFF);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}
.card-body p {
    line-height: 1;
}